<a href="https://colab.research.google.com/github/maliiha/cse220/blob/main/CSE220_LAB_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TASK:01

(a)

In [ ]:
def factorial(n):
  if(n==2):
    return n
  else:
    return n * factorial(n-1)
n=int(input("Enter a number: "))
factorial(n)

Enter a number: 7

5040

(b)

In [3]:
def fibonacci(n):
  if(n==0 or n==1):
    return n
  else:
    return fibonacci(n-1)+fibonacci(n-2)
n=int(input("Enter a number: "))
fibonacci(n)

Enter a number: 8

21

(c)

In [11]:
def printarr(arr,i):
  if(i==len(arr)-1):
    return arr[i]
  else:
    print(arr[i],end=", ")
    return printarr(arr,i+1)
arr=[1,2,3,4,5,6]
printarr(arr,0)

1, 2, 3, 4, 5,

6

(d)

In [18]:
def power(base,n):
  if(n==1):
    return base
  else:
    return base * power(base,n-1)
base=int(input("Enter the base: "))
n=int(input("Enter the n: "))
power(base,n)

Enter the base: 3
Enter the n: 3

27

# TASK:02

(a)

In [35]:
def dectobin(decimal):
  if(decimal==0):
    return 0
  else:
    return int(str(dectobin(decimal//2)) + str(decimal%2))
decimal=int(input("Enter a number: "))
dectobin(decimal)

Enter a number: 16

10000

(b)

In [42]:
class Node:
  def __init__(self, value):
    self.value=value
    self.next=None
class Linkedlist:
  def __init__(self,list1):
    self.head=Node(list1[0])
    self.head.next=None
    head=self.head
    for i in range(1,len(list1)):
      new=Node(list1[i])
      new.next=None
      head.next=new
      head=head.next
def add(list1):
  if(list1==None):
    return 0
  else:
    return list1.value + add(list1.next)
list1=[1,2,3]
l1=Linkedlist(list1)
print(add(l1.head))

6

(c)

In [47]:
class Node:
  def __init__(self, value):
    self.value=value
    self.next=None
class Linkedlist:
  def __init__(self,list1):
    self.head=Node(list1[0])
    self.head.next=None
    head=self.head
    for i in range(1,len(list1)):
      new=Node(list1[i])
      new.next=None
      head.next=new
      head=head.next
def reverse(head):
  if(head==None):
    return 0
  else:
    reverse(head.next)
    print(head.value)
list1=[10,20,30,40]
l1=Linkedlist(list1)
reverse(l1.head)

40
30
20
10

# TASK:03

In [54]:
def hocBuilder(height):
  if(height ==0):
    return 0
  if(height==1):
    return 8
  else:
    return 5 + hocBuilder(height-1)
height=int(input("Enter the height: "))
hocBuilder(height)

Enter the height: 2

13

# TASK:04

(a)

In [58]:
def triangle(n):
  if(n==0):
    return " "
  else:
    result= triangle(n-1) + str(n)
    return result
n=int(input("Enter the value of n: "))
triangle(n)

Enter the value of n: 5
1
12
123
1234
12345

(b)

In [70]:
def reverse_tri(n,c=0):
  if(n==0):
    return " ",c
  else:
    stair,c = reverse_tri(n-1,c+1)
    stair+=str(n)
    print(" " * (c-n)+stair)
    return stair,c
n=int(input("Enter n: "))
a1=reverse_tri(n)

Enter n: 5
     1
    12
   123
  1234
 12345

# TASK:05

In [81]:
class FinalQ:
  def print(self,array,idx):
   if(idx<len(array)): 
     profit = self.calcProfit(array[idx]) 
     print("investment:", str(array[idx])+ "; Profit:",float(profit))
     self.print(array, idx+1)
  def calcProfit(self,investment): 
    if investment<=25000:
        return 0
    if  investment <= 100000:
        return 45+ self.calcProfit(investment-1000) 
    elif investment >100000:       
        return 80+ self.calcProfit(investment-1000) 
array=[25000,100000,250000,350000] 
f = FinalQ() 
f.print(array,0)

investment: 25000; Profit: 0.0
investment: 100000; Profit: 3375.0
investment: 250000; Profit: 15375.0
investment: 350000; Profit: 23375.0